pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/

# Hide input files
inputs/*
example.txt
input.txt
test.txt
advent/resources/*

# Environments
.envrc
.direnv/
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

